* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contenedor {
    margin: 50px auto;
}
h2 {
    color: #fff;
    text-align: center;
}
.contenedor1 {
    background-color: #123;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    padding-top: 70px;
}
.form-circles {
    border: 1px solid #fff;
    background-color: black;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
}
#input {
    margin: auto;
    background-color: transparent;
    color: #fff;
    width: 100px;
    height: 50px;
    font-size: 25px;
    border: 2px solid #fff;
    border-radius: 20px;
    text-align: center;
}
#button {
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: rgb(80, 114, 148);
    cursor: pointer;
    color: #fff;
    transition: background .3s ,color .3s;
}
#button:hover {
    background-color: rgb(71, 146, 221);
    color: black;
}
.contenedor-circle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    padding: 50px 0;
}
.circulo {
    border-radius: 100%;
    max-width: 250px;
    max-height: 250px;
    padding: 50px;
    box-shadow: 1px 1px 20px #fff;
    cursor: pointer;
    transition: transform .4s;
}
.circulo:hover {
    transform: scale(110%);
}
.world-image {
    width: 100%;
    filter: drop-shadow(1px 1px 10px #000);
}



.contenedor2 {
    padding: 30px 0;
    margin: 60px auto;
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 850px;
    position: relative;
    overflow: hidden;
}
.nave {
    width: 120px;
    position: absolute;
    animation-name: nave-espacial;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    transition: width .3s;
}
.nave-img {
    width: 100%;
}
@keyframes nave-espacial {
    0% {
        transform: translateY(300px);
    }
    25% {
        transform: translateY(-30px) translateX(50px) rotate(90deg);
    }
    50% {
        transform: translateY(30px) translateX(707px) rotate(180deg);
    }
    75% {
        transform: translateY(280px) translateX(690px) rotate(270deg);
    }
    100% {
        transform: translateY(300px) rotate(360deg);
    }
}






.contenedor3 {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 800px;
    min-height: 300px;
    background: linear-gradient(rgb(177, 147, 147), rgb(228, 228, 88));
}
.c3-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}
#select {
    width: 160px;
    height: 60px;
    font-size: 15px;
}
#contenido-ahorcados {
    letter-spacing: 8px;
    font-size: 30px;
}
.intentos {
    font-size:20px;
}
.btn-ahorcados {
    border: none;
    background: #123;
    color: #fff;
    font-size: 15px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}
.btn-ahorcados.btn-desaparecer {
    display: none;
}
.img-ahorcados {
    width: 300px;
    height: 250px;
}





.contenedor4 {
    background-color: #123;
    padding: 70px 0;
}
.calculator {
    display: flex;
    flex-direction: column;
    gap: 60px;
    border: 3px solid #fff;
    height: 500px;
    border-radius: 80px;
    max-width: 380px;
    margin: auto;
    padding: 50px 50px 80px;
}
.console {
    background-color: #0f0;
    border-radius: 30px;
    height: 200px;
    border: 3px double #fff;
}
.console div {
    height: 40px;
    font-size: 25px;
    text-align: end;
    margin-top: 10px;
    margin-right: 15px;
}
.buttons-calculator {
    height: 100%;
    border: 3px double #fff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px 10px
}
.buttons-calculator button {
    background-color: #fff;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}
#btn-delete-all {
    grid-column-start: 1;
    grid-column-end: 3;
}
