* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    background-color: #123;
    padding: 50px 0;
}
.circulo {
    border-radius: 100%;
    width: 250px;
    height: 250px;
    padding: 50px;
    box-shadow: 1px 1px 20px #fff;
    cursor: pointer;
    transition: transform .4s;
}
.circulo:hover {
    transform: scale(110%);
}
.word-image {
    width: 100%;
}