* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contenedor1 {
    background-color: #123;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    padding-top: 70px;
}
.form-circles {
    border: 1px solid #fff;
    background-color: black;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
}
#input {
    margin: auto;
    background-color: transparent;
    color: #fff;
    width: 100px;
    height: 50px;
    font-size: 25px;
    border: 2px solid #fff;
    border-radius: 20px;
    text-align: center;
}
#button {
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: rgb(80, 114, 148);
    cursor: pointer;
    color: #fff;
    transition: background .3s ,color .3s;
}
#button:hover {
    background-color: rgb(71, 146, 221);
    color: black;
}
.contenedor-circle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    padding: 50px 0;
}
.circulo {
    border-radius: 100%;
    max-width: 250px;
    max-height: 250px;
    padding: 50px;
    box-shadow: 1px 1px 20px #fff;
    cursor: pointer;
    transition: transform .4s;
}
.circulo:hover {
    transform: scale(110%);
}
.world-image {
    width: 100%;

}
.contenedor2 {
    margin: 60px auto;
    background-image: url(img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 850px;
    position: relative;
    overflow: hidden;
}
.nave {
    width: 120px;
    position: absolute;
    animation-name: nave-espacial;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
@keyframes nave-espacial {
    0% {
        transform: translateY(177px);
    }
    25% {
        transform: translateY(-30px) translateX(50px) rotate(45deg);
    }
    50% {
        transform: translateY(-300px) translateX(507px) rotate(90deg);
    }
    75% {
        transform: translateY(0) translateX(300px) rotate(135deg);
    }
    100% {
        transform: translateY(177px);
    }
}